<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InfoVis UE 2024</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="main_container" class="main_container">

        <div class="title_div">
            <h1>InfoVis UE 2024</h1>
            <p>Alina Jaud (12209471), Jakob Kohlhas (12208214)</p>
        </div>

        <!-- Scatterplot -->
        <div class="container" id="scatterplotContainer">
            <h2>Spotify Chart Songs from 2014-2022</h2>

            <p class="scatterplot_tooltip tooltip" id="scatterplot_tooltip"></p>
            <svg id="scatterplot"></svg>

            <div class="dropdown_inputs">
                <label for="countryDropdown">Select Country:</label>
                <select id="countryDropdown"></select>
            </div>

            <div class="checkbox_inputs">
                <div id="checkboxContainer"></div>
                <button id="recluster">Cluster</button>
                <button id="removeclustering">Remove clustering</button>
            </div>
        </div>

        <!-- Radial chart -->
        <div class="container" id="radialChartContainer">
            <h2>Song features</h2>
            
            <div id="hint">Click on a point in the scatterplot to view song features</div>
            <div id="song_info">
                <div id ="name"></div>
                <div id ="artists"></div>
                <div id ="genres"></div>
            </div>

            <p class="heatmap_tooltip tooltip" id="heatmap_tooltip"></p>
            <svg id="radialchart"></svg>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/scatterplot.js')}}"></script>
    <script src="{{url_for('static', filename='js/radialchart.js')}}"></script>
</body>
</html>